In [1]:
import pandas as pd

In [2]:
tr_cre2020 = pd.read_csv("data/2020/tr_cre.csv", encoding="latin-1", low_memory=False)
tr_cre2021 = pd.read_csv("data/2021/tr_cre.csv", encoding="latin-1", low_memory=False)
tr_mrk2020 = pd.read_csv("data/2020/tr_mrk.csv", encoding="latin-1", low_memory=False)
tr_mrk2021 = pd.read_csv("data/2021/tr_mrk.csv", encoding="latin-1", low_memory=False)

In [3]:
tr_cre2020.info

<bound method DataFrame.info of                     LEI_Code NSA  Period     Item  \
0       0W2PZJM8XOY22M4GG883  DE  201909  2020502
1       0W2PZJM8XOY22M4GG883  DE  201909  2020502
2       0W2PZJM8XOY22M4GG883  DE  201909  2020502
3       0W2PZJM8XOY22M4GG883  DE  201909  2020502
4       0W2PZJM8XOY22M4GG883  DE  201909  2020502
...                      ...  ..     ...      ...
342922  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020625
342923  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020625
342924  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020625
342925  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020626
342926  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020627

                                                    Label  Portfolio  Country  \
0       Original Exposure - by exposure class (SA_and_...          2        0
1       Original Exposure - by exposure class (SA_and_...          2        0
2       Original Exposure - by exposure class (SA_and_...          2        0
3       Original Exposure - by exposure class (SA_and_...          2        0
4       Original Exposure - by exposure class (SA_and_...          2        0
...                                                   ...        ...      ...
342922  Collaterals and financial guarantees received ...          0        0
342923  Collaterals and financial guarantees received ...          0        0
342924  Collaterals and financial guarantees received ...          0        0
342925  Collaterals and financial guarantees received ...          0        0
342926  Collaterals and financial guarantees received ...          0        0

        Country_rank  Exposure  Status  Perf_Status  NACE_codes        Amount  \
0                  0       103       0            0           0    367.396430
1                  0       203       0            0           0  24617.087528
2                  0       303       0            0           0  32086.271021
3                  0       404       0            0           0      0.000000
4                  0       606       0            0           0    543.739929
...              ...       ...     ...          ...         ...           ...
342922             0       202       0            2           0      0.732751
342923             0       301       0            2           0   1195.014585
342924             0       401       0            2           0   1699.453336
342925             0         0       0            2           0      7.070604
342926             0       301       0            2           0    949.671735

       footnote
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
342922      NaN
342923      NaN
342924      NaN
342925      NaN
342926      NaN

[342927 rows x 14 columns]>

In [4]:
tr_cre2021.info

<bound method DataFrame.info of                     LEI_Code NSA  Period     Item  \
0       0W2PZJM8XOY22M4GG883  DE  202003  2020502
1       0W2PZJM8XOY22M4GG883  DE  202003  2020502
2       0W2PZJM8XOY22M4GG883  DE  202003  2020502
3       0W2PZJM8XOY22M4GG883  DE  202003  2020502
4       0W2PZJM8XOY22M4GG883  DE  202003  2020502
...                      ...  ..     ...      ...
396227  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020625
396228  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020625
396229  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020625
396230  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020626
396231  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020628

                                                    Label  Portfolio  Country  \
0       Original Exposure - by exposure class (SA_and_...          2        0
1       Original Exposure - by exposure class (SA_and_...          2        0
2       Original Exposure - by exposure class (SA_and_...          2        0
3       Original Exposure - by exposure class (SA_and_...          2        0
4       Original Exposure - by exposure class (SA_and_...          2        0
...                                                   ...        ...      ...
396227  Collaterals and financial guarantees received ...          0        0
396228  Collaterals and financial guarantees received ...          0        0
396229  Collaterals and financial guarantees received ...          0        0
396230  Collaterals and financial guarantees received ...          0        0
396231  Collaterals and financial guarantees received ...          0        0

        Country_rank  Exposure  Status  Perf_Status  NACE_codes        Amount  \
0                  0       103       0            0           0    437.670504
1                  0       203       0            0           0  27316.201675
2                  0       303       0            0           0  34857.952848
3                  0       404       0            0           0      0.000000
4                  0       606       0            0           0    435.325780
...              ...       ...     ...          ...         ...           ...
396227             0       401       0            2           0    124.660811
396228             0       431       0            2           0    106.105027
396229             0       432       0            2           0      0.050644
396230             0         0       0            2           0      0.001232
396231             0         0       0            2           0      0.000000

       footnote
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
396227      NaN
396228      NaN
396229      NaN
396230      NaN
396231      NaN

[396232 rows x 14 columns]>

In [5]:
tr_cre2020.dtypes

LEI_Code         object
NSA              object
Period            int64
Item              int64
Label            object
Portfolio         int64
Country           int64
Country_rank      int64
Exposure          int64
Status            int64
Perf_Status       int64
NACE_codes        int64
Amount          float64
footnote         object
dtype: object

In [6]:
tr_cre2021.dtypes

LEI_Code         object
NSA              object
Period            int64
Item              int64
Label            object
Portfolio         int64
Country           int64
Country_rank      int64
Exposure          int64
Status            int64
Perf_Status       int64
NACE_codes        int64
Amount          float64
footnote         object
dtype: object

In [7]:
tr_mrk2020.info

<bound method DataFrame.info of                    LEI_Code NSA  Period     Item  \
0      0W2PZJM8XOY22M4GG883  DE  201909  2020401
1      0W2PZJM8XOY22M4GG883  DE  201909  2020401
2      0W2PZJM8XOY22M4GG883  DE  201909  2020402
3      0W2PZJM8XOY22M4GG883  DE  201909  2020402
4      0W2PZJM8XOY22M4GG883  DE  201909  2020402
...                     ...  ..     ...      ...
12847  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020451
12848  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020461
12849  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020471
12850  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020481
12851  XXXXXXXXXXXXXXXXXXXX  OT  201912  2020491

                                                   Label  Portfolio  \
0                             TOTAL RISK EXPOSURE AMOUNT          1
1                             TOTAL RISK EXPOSURE AMOUNT          5
2                TOTAL RISK EXPOSURE AMOUNT - by Product          1
3                TOTAL RISK EXPOSURE AMOUNT - by Product          1
4                TOTAL RISK EXPOSURE AMOUNT - by Product          1
...                                                  ...        ...
12847  INCREMENTAL DEFAULT AND MIGRATION RISK CAPITAL...          5
12848  INCREMENTAL DEFAULT AND MIGRATION RISK CAPITAL...          5
12849     ALL PRICE RISKS CAPITAL CHARGE FOR CTP - FLOOR          5
12850  ALL PRICE RISKS CAPITAL CHARGE FOR CTP - 12 WE...          5
12851  ALL PRICE RISKS CAPITAL CHARGE FOR CTP - LAST ...          5

       MKT_Modprod  Mkt_risk       Amount Footnote
0                0         0  3770.025697      NaN
1                0         0  4999.353671      NaN
2                1         0  2980.786295      NaN
3                2         0   408.666308      NaN
4                3         0   380.573095      NaN
...            ...       ...          ...      ...
12847            0         0  2472.515853      NaN
12848            0         0  2312.171218      NaN
12849            0         0   129.135594      NaN
12850            0         0   125.529527      NaN
12851            0         0   146.321806      NaN

[12852 rows x 10 columns]>

In [8]:
tr_mrk2021.info

<bound method DataFrame.info of                    LEI_Code NSA  Period     Item  \
0      0W2PZJM8XOY22M4GG883  DE  202003  2020401
1      0W2PZJM8XOY22M4GG883  DE  202003  2020401
2      0W2PZJM8XOY22M4GG883  DE  202003  2020402
3      0W2PZJM8XOY22M4GG883  DE  202003  2020402
4      0W2PZJM8XOY22M4GG883  DE  202003  2020402
...                     ...  ..     ...      ...
13663  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020451
13664  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020461
13665  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020471
13666  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020481
13667  XXXXXXXXXXXXXXXXXXXX  OT  202006  2020491

                                                   Label  Portfolio  \
0                             TOTAL RISK EXPOSURE AMOUNT          1
1                             TOTAL RISK EXPOSURE AMOUNT          5
2                TOTAL RISK EXPOSURE AMOUNT - by Product          1
3                TOTAL RISK EXPOSURE AMOUNT - by Product          1
4                TOTAL RISK EXPOSURE AMOUNT - by Product          1
...                                                  ...        ...
13663  INCREMENTAL DEFAULT AND MIGRATION RISK CAPITAL...          5
13664  INCREMENTAL DEFAULT AND MIGRATION RISK CAPITAL...          5
13665     ALL PRICE RISKS CAPITAL CHARGE FOR CTP - FLOOR          5
13666  ALL PRICE RISKS CAPITAL CHARGE FOR CTP - 12 WE...          5
13667  ALL PRICE RISKS CAPITAL CHARGE FOR CTP - LAST ...          5

       MKT_Modprod  Mkt_risk       Amount Footnote
0                0         0  2869.074238      NaN
1                0         0  5863.580650      NaN
2                1         0  1634.599694      NaN
3                2         0   679.040496      NaN
4                3         0   555.434048      NaN
...            ...       ...          ...      ...
13663            0         0     0.000000      NaN
13664            0         0     0.000000      NaN
13665            0         0     0.000000      NaN
13666            0         0     0.000000      NaN
13667            0         0     0.000000      NaN

[13668 rows x 10 columns]>

In [9]:
tr_mrk2020.dtypes

LEI_Code        object
NSA             object
Period           int64
Item             int64
Label           object
Portfolio        int64
MKT_Modprod      int64
Mkt_risk         int64
Amount         float64
Footnote        object
dtype: object

In [10]:
tr_mrk2021.dtypes

LEI_Code        object
NSA             object
Period           int64
Item             int64
Label           object
Portfolio        int64
MKT_Modprod      int64
Mkt_risk         int64
Amount         float64
Footnote        object
dtype: object